@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3.2rem var(--clr-light);
}

/* Dark theme variables */
.dark-theme-variables {
    --clr-color-background: #181a1e;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background);
}




a {
    color: var(--clr-dark);
}

h1, h2, h3, h4, h5, small {
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

/* Text Colors */
.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.danger {
    color: var(--clr-danger);
}

.warning {
    color: var(--clr-warning);
}

/* Layout */
.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
}

/* Aside Styles */
aside {
    height: 100vh;
}

aside .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 1rem;
}

aside .top div.close span {
    display: none;
}

/* Sidebar */
aside .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all .1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    border-left: 5px solid var(--clr-primary);
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease;
}

aside .sidebar a span.msg_count {
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* Main Content */
main {
    margin-top: 1.4rem;
    width: auto;
}

main input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--clr-dark);
}

main .date {
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    font-size: 2rem;
}

main .insights > div.expense span {
    background: var(--clr-danger);
}

main .insights > div.income span {
    background: var(--clr-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights > div .middle h1 {
    font-size: 1.6rem;
}

main h1, main .insights h1, main .insights h3, main .insights p {
    color: var(--clr-dark);
}

main .insights .progress {
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50%;
}

main .insights svg {
    height: 150px;
    position: absolute;
    top: 0;
}

main .insights svg circle {
    fill: none;
    stroke: var(--clr-primary);
    transform: rotate(270deg);
    stroke-width: 5;
}

main .insights .sales svg circle,
main .insights .expense svg circle {
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}

main .insights .income svg circle {
    stroke: var(--clr-success);
}



main .insights .progress .number {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent_order {
    margin-top: 2rem;
}

main .recent_order h2 {
    color: var(--clr-dark);
}

main .recent_order table {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    color: var(--clr-dark);
}

main .recent_order table:hover {
    box-shadow: none;
}

main table tbody tr {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main table tbody td {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent_order a {
    text-align: center;
    display: block;
    margin: 1rem;
}

/* Right Side */
.right {
    margin-top: 1.4rem;
}

.right h2 {
    color: var(--clr-dark);
}

.right .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
/* Estilos gerais */

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

/* Estilos para a organização lado a lado */
.controle-mqtt-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left, .right {
    flex: 1;
    margin-right: 20px;
}

.right {
    margin-right: 0;
}
.right{
    float: left;
            width: 48%;
            margin-right: 2%;
            height: 50px;
           
            text-align: right;
            margin-top: 25px
}
.left{
       
        float: left;
        width: 48%;
        margin-right: 2%;
        height: 50px;
     
        margin-top: 25px;
        
       
    
}

/* Estilos para os botões e caixas de mensagem */
input {
    width: calc(100% - 90px); /* Ajusta a largura da caixa de texto */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Margem para distanciar o botão da caixa de texto */
}

button:hover {
    background-color: #45a049;
}


.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background-color: var(--clr-white);
    color: #fff;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: center;
}

.right .info h3,
.right .item h3 {
    color: var(--clr-dark);
}
/* Seção de Shutdown */
.shutdown_section {
    background: #282e3a;
    padding: 2rem;
    border-radius: 16px;
    margin-top: 2rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.shutdown_section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff6b00;
}

/* Botão de Shutdown */
.shutdown_section button {
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 1rem;
}

.shutdown_section button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}


/* Media Queries */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 14rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    aside {
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: none;
        left: -100px;
        animation: menuAni 1s forwards;
    }

    @keyframes menuAni {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .top div.close span {
        display: inline;
        position: absolute;
        right: 0;
        margin-right: 30px;
        font-size: 35px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--box-shadow);
        margin: 0;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        padding: 40px;
    }

    main .recent_order {
        padding: 30px;
    }

    .right .profile {
        position: absolute;
        left: 70%;
    }

    .right .recent_updates,
    .right .sales_analytics,
    .add_products {
        padding: 30px;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }
}
